.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  .link {
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
    color: brown;
    padding: 10px;
    border-radius: 6px;
    width: 280px;
  }
}
