.container {
  display: flex;
  flex-direction: row;
  gap: 30px;

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 0px 50px 2px rgba(173, 173, 173, 0.36);
      border: 1px rgb(182, 182, 182) solid;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;
      background-color: white;

      &.selected {
        background-color: rgb(255, 238, 160);
      }

      &.wrong {
        background-color: red;
      }

      &.right {
        background-color: rgb(128, 209, 62);
      }
    }
  }
}
