.questions {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  img {
    width: 400px; /* you can use % */
    height: auto;
    margin-bottom: 40px;
  }
}

.answers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.simpleAnswer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.wrongAnswer {
  border: 2px rgb(255, 70, 70) solid;
}

.rightAnswer {
  border: 2px rgb(146, 236, 85) solid;
}

.simpleAnswerBox {
  border: 1px rgb(182, 182, 182) solid;
  border-radius: 6px;
  background-color: white;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;

  color: black;
  background: white;

  &.wrong {
    background-color: rgb(226, 81, 81);
    color: white;
  }

  &.right {
    background-color: rgb(104, 187, 49);
    color: white;
  }
}

.image {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.solutionContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;

  button {
    color: black;
    background-color: white;
  }

  .solution {
    color: brown;
    font-weight: 600;
  }
}
